<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MCQuestions</key>
	<array>
		<array>
			<dict>
				<key>Prompt</key>
				<string>rex (king) Acrisios filiam pulchram habebat.</string>
				<key>Question</key>
				<string>What tense is the verb ‘habebat’?</string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string>Imperfect</string>
				<key>Distractor1</key>
				<string>Perfect</string>
				<key>Distractor2</key>
				<string>Present</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>nomen (name) puellae erat Danae</string>
				<key>Question</key>
				<string>What is the person and number is the verb ‘erat’?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>3rd person singular</string>
				<key>Distractor1</key>
				<string>3rd person plural</string>
				<key>Distractor2</key>
				<string>1st person singular</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>puella filium parvum, Perseum, habebat</string>
				<key>Question</key>
				<string>What case is the word ‘parvum’?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Accusative</string>
				<key>Distractor1</key>
				<string>Nominative</string>
				<key>Distractor2</key>
				<string>Vocative</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Apollo Acrisio dixit: ‘filia te necabit (will kill)’</string>
				<key>Question</key>
				<string>Which word is the pronoun in this sentence?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>te</string>
				<key>Distractor1</key>
				<string>filia</string>
				<key>Distractor2</key>
				<string>dixit</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Acrisios filiam suam in cista (chest) posuit</string>
				<key>Question</key>
				<string>‘posuit’ - what is the first person singular of the present tense of this verb?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>possum</string>
				<key>Distractor1</key>
				<string>porto</string>
				<key>Distractor2</key>
				<string>pono</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>tandem cista (chest) ad insulam venit</string>
				<key>Question</key>
				<string>What case is insulam and why?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Accusative - after preposition</string>
				<key>Distractor1</key>
				<string>Ablative - after preposition</string>
				<key>Distractor2</key>
				<string>Dative &apos;to&apos;</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>rex (king) insulae Danaen (acc) ducere cupiebat (to marry)</string>
				<key>Question</key>
				<string>What case is insulae?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>dative</string>
				<key>Distractor1</key>
				<string>nominative</string>
				<key>Distractor2</key>
				<string>genitive</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>sic Perseus erat iratus</string>
				<key>Question</key>
				<string>Which English word derives from the Latin word ‘iratus’?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>irate</string>
				<key>Distractor1</key>
				<string>irritated</string>
				<key>Distractor2</key>
				<string>irrational</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>The woman loves her son</string>
				<key>Question</key>
				<string>Which of these Latin sentences is the correct translation?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>femina filium amat</string>
				<key>Distractor1</key>
				<string>femina filiam amat</string>
				<key>Distractor2</key>
				<string>femina filium amo</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>We fear the sailors.</string>
				<key>Question</key>
				<string>Which of these Latin sentences is the correct translation?</string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string>timetis nautas</string>
				<key>Distractor1</key>
				<string>timemus nautam</string>
				<key>Distractor2</key>
				<string>timemus nautas</string>
				<key>Feedback</key>
				<string>TBD</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>Prompt</key>
				<string>olim Hector et Paris in Sparta manebant</string>
				<key>Question</key>
				<string>What is the Latin subject of the verb manebant?</string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string>Hector et Paris</string>
				<key>Distractor1</key>
				<string>Hector and Paris</string>
				<key>Distractor2</key>
				<string>olim</string>
				<key>Feedback</key>
				<string>All three words must be in Latin </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Menelaus Spartam iam regebat</string>
				<key>Question</key>
				<string>What is Latin object of regebat?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Spartam</string>
				<key>Distractor1</key>
				<string>Menelaus</string>
				<key>Distractor2</key>
				<string>iam</string>
				<key>Feedback</key>
				<string>Spart-am is accusative singular and Latin</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>et Menelaus erat vir Helenae</string>
				<key>Question</key>
				<string>What case is Helenae?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Genitive</string>
				<key>Distractor1</key>
				<string>Dative</string>
				<key>Distractor2</key>
				<string>Nominative</string>
				<key>Feedback</key>
				<string>The husband of Helen</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>ubi Paris Helenam vidit, magnopere amabat</string>
				<key>Question</key>
				<string>What is the adverb in this sentence?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>magnopere</string>
				<key>Distractor1</key>
				<string>ubi</string>
				<key>Distractor2</key>
				<string>vidit</string>
				<key>Feedback</key>
				<string>great-ly is an adverb</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>itaque Paris Helenam ad Troiam (Troy) ducere cupiebat</string>
				<key>Question</key>
				<string>What case is Troiam and why?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Accusative - after preposition</string>
				<key>Distractor1</key>
				<string>Accusative - object</string>
				<key>Distractor2</key>
				<string>Nominative - Subject</string>
				<key>Feedback</key>
				<string>ad forces Troi-am into the accusative case </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Paris malus Helenam cepit</string>
				<key>Question</key>
				<string>What is the first person singular, present tense of cepit?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>capio</string>
				<key>Distractor1</key>
				<string>cupio</string>
				<key>Distractor2</key>
				<string>cepi</string>
				<key>Feedback</key>
				<string>capio is the root word </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Menelaus erat iratus</string>
				<key>Question</key>
				<string>What is the present tense equivalent of erat?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>est</string>
				<key>Distractor1</key>
				<string>es</string>
				<key>Distractor2</key>
				<string>sum</string>
				<key>Feedback</key>
				<string>erat (he was)
est (he is)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Menelaus erat iratus</string>
				<key>Question</key>
				<string>Which of these is an English derivation of iratus?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>irate</string>
				<key>Distractor1</key>
				<string>irritate</string>
				<key>Distractor2</key>
				<string>ratty</string>
				<key>Feedback</key>
				<string>irate means angry like iratus </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>We are carrying the woman </string>
				<key>Question</key>
				<string>What is the correct Latin translation of woman here?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>feminam</string>
				<key>Distractor1</key>
				<string>femina</string>
				<key>Distractor2</key>
				<string>feminas</string>
				<key>Feedback</key>
				<string>woman has to be accusative singular as object of the verb </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>The sailors love the land</string>
				<key>Question</key>
				<string>What is the correct Latin translation of this sentence?</string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string>nautae terram amant</string>
				<key>Distractor1</key>
				<string>nautae terram amat</string>
				<key>Distractor2</key>
				<string>nautae terra amant</string>
				<key>Feedback</key>
				<string>naut-ae (nom plu)
terr-am (acc sing)
ama-nt (they)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>Prompt</key>
				<string>ubi Paris Helenam cepit, Menelaus erat iratus</string>
				<key>Question</key>
				<string>What is the adjective in this sentence?</string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string>iratus</string>
				<key>Distractor1</key>
				<string>ubi</string>
				<key>Distractor2</key>
				<string>erat</string>
				<key>Feedback</key>
				<string>iratus means angry = adjective </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Menelaus igitur ad Agamemnonem festinavit</string>
				<key>Question</key>
				<string>What case is Agamemnonem and why?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Accusative - after ad</string>
				<key>Distractor1</key>
				<string>Accusative - object</string>
				<key>Distractor2</key>
				<string>Nominative - Subject of the verb</string>
				<key>Feedback</key>
				<string>accusative - ad forces it into this case </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Agamemnon ad regiam (palace) suam amicos vocavit </string>
				<key>Question</key>
				<string>Put vocavit in the present tense, keeping person and number</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>vocat</string>
				<key>Distractor1</key>
				<string>vocant</string>
				<key>Distractor2</key>
				<string>vocare</string>
				<key>Feedback</key>
				<string>vocavit = (he) called
voc-at = (he) calls
present tense, first conjugation</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>amici erant principes (princes) Graecorum </string>
				<key>Question</key>
				<string>What is the present tense equivalent of erant?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>sunt</string>
				<key>Distractor1</key>
				<string>est</string>
				<key>Distractor2</key>
				<string>esse</string>
				<key>Feedback</key>
				<string>erant = (they) were
sunt = (they) are</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>amici ad Troiam navigare constituerunt </string>
				<key>Question</key>
				<string>What is the Latin subject of the verb constituerunt?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>amici</string>
				<key>Distractor1</key>
				<string>friends</string>
				<key>Distractor2</key>
				<string>Troiam</string>
				<key>Feedback</key>
				<string>amic-i = nominative plural </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Helenam iterum capere cupiebant</string>
				<key>Question</key>
				<string>What part of the verb capio is capere?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>infinitive</string>
				<key>Distractor1</key>
				<string>imperative</string>
				<key>Distractor2</key>
				<string>perfect tense - they</string>
				<key>Feedback</key>
				<string> -re is an infinitive ending (to take)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>nautae Graeci in portu (harbour) diu manebant </string>
				<key>Question</key>
				<string>What gender is the word Graeci?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>masculine</string>
				<key>Distractor1</key>
				<string>feminine</string>
				<key>Distractor2</key>
				<string>neuter</string>
				<key>Feedback</key>
				<string>agrees with nautae which is masculine </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Artemis dea nautis ventos non dedit</string>
				<key>Question</key>
				<string>What is the first person singular present tense of dedit?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>do</string>
				<key>Distractor1</key>
				<string>dedo</string>
				<key>Distractor2</key>
				<string>discedo</string>
				<key>Feedback</key>
				<string>do (I give) is root word of dedit </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>The sailors remain here</string>
				<key>Question</key>
				<string>What is the correct translation of ‘remain’?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>manent</string>
				<key>Distractor1</key>
				<string>manet</string>
				<key>Distractor2</key>
				<string>maneo</string>
				<key>Feedback</key>
				<string>mane-nt: they (the sailors) remain</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>You (s) frighten the inhabitants</string>
				<key>Question</key>
				<string>What is the correct Latin translation of this sentence?</string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string>terres incolas</string>
				<key>Distractor1</key>
				<string>terretis incolas</string>
				<key>Distractor2</key>
				<string>terres incolam</string>
				<key>Feedback</key>
				<string>terr-es (you sing)
incol-as (inhabitants, accusative plural)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>Prompt</key>
				<string>ubi Graeci ad Troiam venerunt, e navibus (ships) discesserunt</string>
				<key>Question</key>
				<string>What is the first person singular present tense of discesserunt?</string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string>discedo</string>
				<key>Distractor1</key>
				<string>discedere</string>
				<key>Distractor2</key>
				<string>do</string>
				<key>Feedback</key>
				<string>discedo is the root word of discesserunt </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>in ora castra (camp) mox posuerunt</string>
				<key>Question</key>
				<string>What case is ora and why?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Ablative - after in</string>
				<key>Distractor1</key>
				<string>Ablative - by/with/from</string>
				<key>Distractor2</key>
				<string>Nominative - Subject of the verb</string>
				<key>Feedback</key>
				<string>in + ablative means in</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>contra Troianos in saevis proeliis pugnabant</string>
				<key>Question</key>
				<string>Put pugnabant into the present tense, keeping person and number</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>pugnant</string>
				<key>Distractor1</key>
				<string>pugno</string>
				<key>Distractor2</key>
				<string>pugnat</string>
				<key>Feedback</key>
				<string>pugna-nt (present tense, third person plural)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Troiam tamen non ceperunt</string>
				<key>Question</key>
				<string>What is the Latin object of ceperunt?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Troiam</string>
				<key>Distractor1</key>
				<string>Troy</string>
				<key>Distractor2</key>
				<string>tamen</string>
				<key>Feedback</key>
				<string>Troi-am is accusative singular as object of ceperunt </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Graeci igitur erant miseri</string>
				<key>Question</key>
				<string>What is the Latin subject of the verb erant?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Graeci</string>
				<key>Distractor1</key>
				<string>Greeks</string>
				<key>Distractor2</key>
				<string>miseri</string>
				<key>Feedback</key>
				<string>Graeci is a Latin word and nominative plural here</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>ad patriam navigare iterum cupiverunt</string>
				<key>Question</key>
				<string>What is the adverb in this sentence?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>iterum</string>
				<key>Distractor1</key>
				<string>ad</string>
				<key>Distractor2</key>
				<string>cupiverunt</string>
				<key>Feedback</key>
				<string>iterum = again = adverb </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>‘hic manete!’ clamavit Agamemnon</string>
				<key>Question</key>
				<string>What is the imperative in this sentence?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>manete</string>
				<key>Distractor1</key>
				<string>hic</string>
				<key>Distractor2</key>
				<string>clamavit</string>
				<key>Feedback</key>
				<string>imperative is a verb part used when giving an order</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Agamemnon multa et irata verba dixit</string>
				<key>Question</key>
				<string>What gender is the word verba?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>neuter</string>
				<key>Distractor1</key>
				<string>feminine</string>
				<key>Distractor2</key>
				<string>masculine</string>
				<key>Feedback</key>
				<string>accusative plural of neuter noun verb-um</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>The men fear Agamemnon</string>
				<key>Question</key>
				<string>What is the correct translation of fear in this sentence?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>timent</string>
				<key>Distractor1</key>
				<string>perterriti</string>
				<key>Distractor2</key>
				<string>terrent</string>
				<key>Feedback</key>
				<string>timent = fear
terrent = frighten</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>The men have swords</string>
				<key>Question</key>
				<string>What is the correct translation of this sentence?</string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string>viri gladios habent</string>
				<key>Distractor1</key>
				<string>viri gladios habeant</string>
				<key>Distractor2</key>
				<string>viri gladium habent</string>
				<key>Feedback</key>
				<string>viri (nom plu)
gladios (acc plu)
habent (have, present, they)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>Prompt</key>
				<string>quod Troiani eos (them) saepe superabant, Graeci erant miseri </string>
				<key>Question</key>
				<string>Which word does miseri agree with?</string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string>Graeci</string>
				<key>Distractor1</key>
				<string>Troiani</string>
				<key>Distractor2</key>
				<string>erant</string>
				<key>Feedback</key>
				<string>the Greeks were miserable </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>post (after) unum proelium, Agamemnon feminam Troianam cepit</string>
				<key>Question</key>
				<string>What is the first person singular present tense of cepit?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>capio</string>
				<key>Distractor1</key>
				<string>cupio</string>
				<key>Distractor2</key>
				<string>capere</string>
				<key>Feedback</key>
				<string>capio is the root word of cepit </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>nomen (name) feminae erat Chryseis </string>
				<key>Question</key>
				<string>What case is feminae here?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Genitive</string>
				<key>Distractor1</key>
				<string>Dative</string>
				<key>Distractor2</key>
				<string>Nominative</string>
				<key>Feedback</key>
				<string>the name of (genitive) the woman </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>sacerdos (priest) monuit: ‘Agamemnon, feminam redde (give back)!</string>
				<key>Question</key>
				<string>What tense is monuit?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>perfect</string>
				<key>Distractor1</key>
				<string>present</string>
				<key>Distractor2</key>
				<string>imperfect</string>
				<key>Feedback</key>
				<string>mon-ui is the perfect of moneo</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>pater (father) feminae erat sacerdos (priest) dei Apollonis (Apollo)</string>
				<key>Question</key>
				<string>Put dei into the plural in the same case.</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>deorum</string>
				<key>Distractor1</key>
				<string>deis</string>
				<key>Distractor2</key>
				<string>deos</string>
				<key>Feedback</key>
				<string>de-i (genitive sing)
de-orum (genitive plu)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Apollo igitur in Graecos sagittas mittebat</string>
				<key>Question</key>
				<string>What case is sagittas and why?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>Accusative - object of the verb</string>
				<key>Distractor1</key>
				<string>Accusative - after in</string>
				<key>Distractor2</key>
				<string>Nominative - Subject of the verb</string>
				<key>Feedback</key>
				<string>sagitt-as acc plu object of mittebat </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Agamemnon non fuit laetus quod feminam amabat</string>
				<key>Question</key>
				<string>Put fuit into the present tense, keeping person and number.</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>est</string>
				<key>Distractor1</key>
				<string>esse</string>
				<key>Distractor2</key>
				<string>erat</string>
				<key>Feedback</key>
				<string>fuit (he) was
est (he) is
third person singular</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>sed tandem patri (father - dative) feminam statim dedit</string>
				<key>Question</key>
				<string>What type of word is statim?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>adverb</string>
				<key>Distractor1</key>
				<string>noun</string>
				<key>Distractor2</key>
				<string>verb</string>
				<key>Feedback</key>
				<string>statim = immediately = adverb</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>The priest shouted: ‘Give back the slave girl!’</string>
				<key>Question</key>
				<string>What is the correct translation of slave girl here?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>ancillam</string>
				<key>Distractor1</key>
				<string>ancilla</string>
				<key>Distractor2</key>
				<string>ancillas</string>
				<key>Feedback</key>
				<string>ancill-am is accusative sing as object of verb </string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>We do not have a queen.</string>
				<key>Question</key>
				<string>What is the correct Latin translation of this sentence?</string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string>non habemus reginam</string>
				<key>Distractor1</key>
				<string>non habemus regina</string>
				<key>Distractor2</key>
				<string>non habeo reginam</string>
				<key>Feedback</key>
				<string>non (not)
habe-mus (we have)
regin-am (acc sing as object of habemus)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>Prompt</key>
				<string>ubi viri puellam ceperunt, Achilles erat magnopere iratus</string>
				<key>Question</key>
				<string>What type of word is ubi?</string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string>conjuction</string>
				<key>Distractor1</key>
				<string>adverb</string>
				<key>Distractor2</key>
				<string>adjective</string>
				<key>Feedback</key>
				<string>ubi = when = conjunction</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>iram Graecis ostendit</string>
				<key>Question</key>
				<string>What case is Graecis?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>dative</string>
				<key>Distractor1</key>
				<string>ablative</string>
				<key>Distractor2</key>
				<string>genitive</string>
				<key>Feedback</key>
				<string>Achilles showed his anger to (dative) the Greeks</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>dum (while) Graeci audiebant, Achilles verba saeva clamavit</string>
				<key>Question</key>
				<string>What word does saeva agree with in this sentence?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>verba</string>
				<key>Distractor1</key>
				<string>Achilles</string>
				<key>Distractor2</key>
				<string>clamavit</string>
				<key>Feedback</key>
				<string>both are neuter accusative plural</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>‘quod feminam meam cepisti, Agamemnon, non iam pugno’</string>
				<key>Question</key>
				<string>Put cepisti in the present tense, keeping person and number.</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>capis</string>
				<key>Distractor1</key>
				<string>capio</string>
				<key>Distractor2</key>
				<string>cepi</string>
				<key>Feedback</key>
				<string>cepisti (2nd person sing perfect)
capis (2nd person singular present)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>itaque Achilles e bello viros suos duxit.</string>
				<key>Question</key>
				<string>What case is bello and why?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>ablative - after preposition</string>
				<key>Distractor1</key>
				<string>dative - to </string>
				<key>Distractor2</key>
				<string>accusative - after preposition</string>
				<key>Feedback</key>
				<string>e forces bell-o into the ablative case</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Achilles cum viris suis in tabernaculo (tent) manebat</string>
				<key>Question</key>
				<string>Which word is the adjective in this sentence?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>suis</string>
				<key>Distractor1</key>
				<string>in</string>
				<key>Distractor2</key>
				<string>cum</string>
				<key>Feedback</key>
				<string>agrees with viris and is a possessive adjective (his)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Patroclus, amicus bonus, quoque (also) aderat</string>
				<key>Question</key>
				<string>What tense is aderat?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>imperfect</string>
				<key>Distractor1</key>
				<string>present</string>
				<key>Distractor2</key>
				<string>perfect</string>
				<key>Feedback</key>
				<string>ad-eram/s/t etc. imperfect of ad-sum</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Agamemnon tamen timebat; Achilles erat optimus (best) Graecorum</string>
				<key>Question</key>
				<string>timebat - was afraid. How would you say ‘is afraid’?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>timet</string>
				<key>Distractor1</key>
				<string>timeo</string>
				<key>Distractor2</key>
				<string>timuit</string>
				<key>Feedback</key>
				<string>tim-et 3rd person present tense</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>Achilles frightens the friend.</string>
				<key>Question</key>
				<string>How would you translate &apos;the friend&apos; here?</string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string>amicum</string>
				<key>Distractor1</key>
				<string>amicus</string>
				<key>Distractor2</key>
				<string>amicos</string>
				<key>Feedback</key>
				<string>amic-um has to be accusative sing, object of frightens</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
			<dict>
				<key>Prompt</key>
				<string>They hurry across the fields.</string>
				<key>Question</key>
				<string>What is the correct Latin translation of this sentence?</string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string>trans agros festinant</string>
				<key>Distractor1</key>
				<string>trans agros festinat</string>
				<key>Distractor2</key>
				<string>trans agrum festinant</string>
				<key>Feedback</key>
				<string>trans (across)
agr-os (acc plu after trans)
festina-nt (they hurry)</string>
				<key>Weighting</key>
				<integer>-1</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
