<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MCQuestions</key>
	<array>
		<array>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>0</integer>
				<key>Prompt</key>
				<string><![CDATA[<font color="#F5C343" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Achilles in bello contra Troianos pugnare non iam cupiebat</font>]]></string>
				<key>Question</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">What case is <font color="F5C343">bello</font> and why?</font>]]></string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Ablative - after <font color="F5C343">in</font></font>]]></string>
				<key>Distractor1</key>
				<string><![CDATA[dative - for]]></string>
				<key>Distractor2</key>
				<string><![CDATA[accusative - object of verb]]></string>
				<key>Feedback</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><font color="F5C343">in</font> meaning 'in' takes the ablative </font>]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>1</integer>
				<key>Prompt</key>
				<string><![CDATA[<font color="#F5C343" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Graeci circum muros Troiae <font color="#FFFFFF">(Troy)</font> fortiter pugnabant</font>]]></string>
				<key>Question</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">What case and number is <font color="F5C343">Troiae</font>?</font>]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[Genitive singular]]></string>
				<key>Distractor1</key>
				<string><![CDATA[dative singular]]></string>
				<key>Distractor2</key>
				<string><![CDATA[nominative plural]]></string>
				<key>Feedback</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">the walls <b><u>of</u></b> Troy - <b><u>of</u></b> = <b><u>genitive</u></b> </font>]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>2</integer>
				<key>Prompt</key>
				<string><![CDATA[<font color="#F5C343" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">sed Troiani eos <font color="#FFFFFF">(them)</font> in multis proeliis superabant</font>]]></string>
				<key>Question</key>
				<string><![CDATA[Which word is the adjective in this sentence?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[multis]]></string>
				<key>Distractor1</key>
				<string><![CDATA[in]]></string>
				<key>Distractor2</key>
				<string><![CDATA[sed]]></string>
				<key>Feedback</key>
				<string><![CDATA[<font style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><font color="#F5C343">mult-<b>is</b></font> agrees with <font color="#F5C343">proeli-<b>is</b><font></font>]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>3</integer>
				<key>Prompt</key>
				<string><![CDATA[<font color="#F5C343" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Patroclus, amicus Achillis <font color="#FFFFFF">(Achilles),</font> ubi hoc <font color="#FFFFFF">(this)</font> vidit, non erat laetus</font>]]></string>
				<key>Question</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">What is the present tense equivalent of <font color="F5C343">vidit</font>?</font>]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[videt]]></string>
				<key>Distractor1</key>
				<string><![CDATA[video]]></string>
				<key>Distractor2</key>
				<string><![CDATA[vidit]]></string>
				<key>Feedback</key>
				<string><![CDATA[<font style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><font color="#F5C343">vid-<b><u>it</u></b></font> = <b><u>he</u></b> saw (<b><u>perfect</u></b>)<br><font color="#F5C343">vid-<b><u>et</u></b></font> = <b><u>he</u></b> sees (<b><u>present</u></b>)</font>]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>4</integer>
				<key>Prompt</key>
				<string><![CDATA[ad Achillem cucurrit et dixit]]></string>
				<key>Question</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">What is the first person singular present tense of <font color="F5C343">cucurrit</font>?</font>]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[curro]]></string>
				<key>Distractor1</key>
				<string><![CDATA[cucurri]]></string>
				<key>Distractor2</key>
				<string><![CDATA[currere]]></string>
				<key>Feedback</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><font color="#F5C343">cucurri</font> is the perfect of <font color="#F5C343">curro</font></font>]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>5</integer>
				<key>Prompt</key>
				<string><![CDATA['da mihi (to me) scutum tuum et gladium']]></string>
				<key>Question</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">What part of the verb <font color="F5C343">do</font> is <font color="F5C343">da</font>?</font>]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[imperative]]></string>
				<key>Distractor1</key>
				<string><![CDATA[infinitive]]></string>
				<key>Distractor2</key>
				<string><![CDATA[present tense third person singular]]></string>
				<key>Feedback</key>
				<string><![CDATA[imperative = used when giving an order ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>6</integer>
				<key>Prompt</key>
				<string><![CDATA['in proelium ego festinare cupio']]></string>
				<key>Question</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">What gender is the word <font color="F5C343">proelium</font>?</font>]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[neuter]]></string>
				<key>Distractor1</key>
				<string><![CDATA[masculine]]></string>
				<key>Distractor2</key>
				<string><![CDATA[feminine]]></string>
				<key>Feedback</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">root word is <font color="#F5C343">proeli-<b><u>um</u></b></font> = neuter</font>]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>7</integer>
				<key>Prompt</key>
				<string><![CDATA[Achilles consilium (plan) non amavit sed tandem consentit (agreed)]]></string>
				<key>Question</key>
				<string><![CDATA[What is the Latin object of the verb amavit?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[consilium]]></string>
				<key>Distractor1</key>
				<string><![CDATA[plan]]></string>
				<key>Distractor2</key>
				<string><![CDATA[Achilles]]></string>
				<key>Feedback</key>
				<string><![CDATA[Achilles didn't like the plan (object of the verb)]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>8</integer>
				<key>Prompt</key>
				<string><![CDATA[Patroclus was holding Achilles' sword.]]></string>
				<key>Question</key>
				<string><![CDATA[Translate sword in this sentence.]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[gladium]]></string>
				<key>Distractor1</key>
				<string><![CDATA[gladius]]></string>
				<key>Distractor2</key>
				<string><![CDATA[gladios]]></string>
				<key>Feedback</key>
				<string><![CDATA[<font color="#FFFFFF" style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;">root word <font color="#F5C343">gladi-<b><u>us;</u></b></font> acc singuler = <font color="#F5C343">gladi-<b><u>um</u></b></font></font>]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Three]]></string>
				<key>QnNum</key>
				<integer>9</integer>
				<key>Prompt</key>
				<string><![CDATA[The friends hurry to the place.]]></string>
				<key>Question</key>
				<string><![CDATA[What is the correct Latin translation of this sentence?]]></string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string><![CDATA[amici ad locum festinant]]></string>
				<key>Distractor1</key>
				<string><![CDATA[amici ad locus festinant]]></string>
				<key>Distractor2</key>
				<string><![CDATA[amici ad locum festino]]></string>
				<key>Feedback</key>
				<string><![CDATA[<font style="font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><font color="#F5C343">amici</font> (<b><u>nom plu</u></b>)<br><font color="#F5C343">locum</font> (<b><u>acc sing after ad</u></b>)<br><font color="#F5C343">festinant</font> (<b><u>they</u></b> hurry)</font>]]></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>0</integer>
				<key>Prompt</key>
				<string><![CDATA[Achilles in bello contra Troianos adhuc (still) non pugnabat]]></string>
				<key>Question</key>
				<string><![CDATA[What case is Troianos and why?]]></string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string><![CDATA[Accusative - after contra]]></string>
				<key>Distractor1</key>
				<string><![CDATA[Ablative - after contra]]></string>
				<key>Distractor2</key>
				<string><![CDATA[Accusative - object of verb]]></string>
				<key>Feedback</key>
				<string><![CDATA[preposition contra forces Troian-os into the accusative case ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>1</integer>
				<key>Prompt</key>
				<string><![CDATA[Patroclus eum (him) rogavit: 'mitte me in proelium!']]></string>
				<key>Question</key>
				<string><![CDATA[What is the imperative in this sentence?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[mitte]]></string>
				<key>Distractor1</key>
				<string><![CDATA[rogavit]]></string>
				<key>Distractor2</key>
				<string><![CDATA[in]]></string>
				<key>Feedback</key>
				<string><![CDATA[3rd conjugation imperative singular ends in -e]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>2</integer>
				<key>Prompt</key>
				<string><![CDATA[Achilles Patroclo gladium suum et scutum dedit.]]></string>
				<key>Question</key>
				<string><![CDATA[What case is Patroclo and why?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[Dative - to]]></string>
				<key>Distractor1</key>
				<string><![CDATA[Ablative - to]]></string>
				<key>Distractor2</key>
				<string><![CDATA[Accusative - object of verb]]></string>
				<key>Feedback</key>
				<string><![CDATA[he gave them to (dative) Patroclus ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>3</integer>
				<key>Prompt</key>
				<string><![CDATA[Patroclus ad Troianos fortiter cucurrit]]></string>
				<key>Question</key>
				<string><![CDATA[What type of word is fortiter?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[adverb]]></string>
				<key>Distractor1</key>
				<string><![CDATA[adjective]]></string>
				<key>Distractor2</key>
				<string><![CDATA[verb]]></string>
				<key>Feedback</key>
				<string><![CDATA[fortiter = brave-ly = adverb ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>4</integer>
				<key>Prompt</key>
				<string><![CDATA[Hector, filius Priami (of Priam), fuit optimus (best) Troianorum]]></string>
				<key>Question</key>
				<string><![CDATA[What is the first person singular present tense of fuit?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[sum]]></string>
				<key>Distractor1</key>
				<string><![CDATA[fui]]></string>
				<key>Distractor2</key>
				<string><![CDATA[esse]]></string>
				<key>Feedback</key>
				<string><![CDATA[root word of fuit is sum = I am ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>5</integer>
				<key>Prompt</key>
				<string><![CDATA[ubi Hector Patroclum vidit, eum (him) Achillem esse credebat (he believed)]]></string>
				<key>Question</key>
				<string><![CDATA[What is the present tense equivalent of vidit?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[videt]]></string>
				<key>Distractor1</key>
				<string><![CDATA[videre]]></string>
				<key>Distractor2</key>
				<string><![CDATA[video]]></string>
				<key>Feedback</key>
				<string><![CDATA[vid-et  = 2nd conjugation, 3rd person singular ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>6</integer>
				<key>Prompt</key>
				<string><![CDATA[Hector ad Patroclum festinavit et statim necavit]]></string>
				<key>Question</key>
				<string><![CDATA[What is the subject of the verb necavit?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[Hector]]></string>
				<key>Distractor1</key>
				<string><![CDATA[statim]]></string>
				<key>Distractor2</key>
				<string><![CDATA[Patroclum]]></string>
				<key>Feedback</key>
				<string><![CDATA[Hector did the killing ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>7</integer>
				<key>Prompt</key>
				<string><![CDATA[Graeci corpus (body) Patrocli ad Achillem portaverunt]]></string>
				<key>Question</key>
				<string><![CDATA[What tense is portaverunt?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[perfect]]></string>
				<key>Distractor1</key>
				<string><![CDATA[present]]></string>
				<key>Distractor2</key>
				<string><![CDATA[imperfect]]></string>
				<key>Feedback</key>
				<string><![CDATA[porta-v-erunt = perfect (they)]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>8</integer>
				<key>Prompt</key>
				<string><![CDATA[The Greeks attack the Trojans.]]></string>
				<key>Question</key>
				<string><![CDATA[Translate attack in this sentence.]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[oppugnant]]></string>
				<key>Distractor1</key>
				<string><![CDATA[oppugno]]></string>
				<key>Distractor2</key>
				<string><![CDATA[pugnant]]></string>
				<key>Feedback</key>
				<string><![CDATA[oppugna-nt = they]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Four]]></string>
				<key>QnNum</key>
				<integer>9</integer>
				<key>Prompt</key>
				<string><![CDATA[We are building a wall.]]></string>
				<key>Question</key>
				<string><![CDATA[Which is the correct Latin translation of this sentence?]]></string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string><![CDATA[aedficamus murum]]></string>
				<key>Distractor1</key>
				<string><![CDATA[aedificatis murum]]></string>
				<key>Distractor2</key>
				<string><![CDATA[aedificamus muros]]></string>
				<key>Feedback</key>
				<string><![CDATA[aedifica-mus (1st person plural)
mur-um (acc sing)]]></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>0</integer>
				<key>Prompt</key>
				<string><![CDATA[Achilles de morte (death) Patrocli mox audivit]]></string>
				<key>Question</key>
				<string><![CDATA[Which word is the preposition in this sentence?]]></string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string><![CDATA[de]]></string>
				<key>Distractor1</key>
				<string><![CDATA[mox]]></string>
				<key>Distractor2</key>
				<string><![CDATA[audivit]]></string>
				<key>Feedback</key>
				<string><![CDATA[de (preposition) = about ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>1</integer>
				<key>Prompt</key>
				<string><![CDATA[Achilles miser erat et diu flebat (cried)]]></string>
				<key>Question</key>
				<string><![CDATA[What type of word is diu?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[adverb]]></string>
				<key>Distractor1</key>
				<string><![CDATA[verb]]></string>
				<key>Distractor2</key>
				<string><![CDATA[adjective]]></string>
				<key>Feedback</key>
				<string><![CDATA[diu = for a long time = time adverb ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>2</integer>
				<key>Prompt</key>
				<string><![CDATA[Achilles, quod erat iratus, iterum pugnare constituit]]></string>
				<key>Question</key>
				<string><![CDATA[What part of the verb pugno is pugnare?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[infinitive]]></string>
				<key>Distractor1</key>
				<string><![CDATA[imperative]]></string>
				<key>Distractor2</key>
				<string><![CDATA[imperfect tense]]></string>
				<key>Feedback</key>
				<string><![CDATA[-re ending = infinitive = to]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>3</integer>
				<key>Prompt</key>
				<string><![CDATA[gladium et scutum cepit et e tabernaculo (tent) discessit]]></string>
				<key>Question</key>
				<string><![CDATA[What is the first person singular present tense of discessit?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[discedo]]></string>
				<key>Distractor1</key>
				<string><![CDATA[do]]></string>
				<key>Distractor2</key>
				<string><![CDATA[descendo]]></string>
				<key>Feedback</key>
				<string><![CDATA[root word of discessit is discedo ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>4</integer>
				<key>Prompt</key>
				<string><![CDATA[Achilles Hectorem (Hector - acc) invenire (to find) magnopere cupiebat]]></string>
				<key>Question</key>
				<string><![CDATA[What is the subject of cupiebat?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[Achilles]]></string>
				<key>Distractor1</key>
				<string><![CDATA[Hectorem]]></string>
				<key>Distractor2</key>
				<string><![CDATA[magnopere]]></string>
				<key>Feedback</key>
				<string><![CDATA[It was Achilles who wanted ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>5</integer>
				<key>Prompt</key>
				<string><![CDATA[Hector erat validus et multos viros necabat]]></string>
				<key>Question</key>
				<string><![CDATA[What gender is the adjective validus in this sentence?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[masculine]]></string>
				<key>Distractor1</key>
				<string><![CDATA[neuter]]></string>
				<key>Distractor2</key>
				<string><![CDATA[feminine]]></string>
				<key>Feedback</key>
				<string><![CDATA[Hector (masculine) so valid-us (masculine)]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>6</integer>
				<key>Prompt</key>
				<string><![CDATA[Achilles Hectorem necavit et e proelio corpus (body) portavit]]></string>
				<key>Question</key>
				<string><![CDATA[What case is proelio and why?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[ablative - after e]]></string>
				<key>Distractor1</key>
				<string><![CDATA[dative - for]]></string>
				<key>Distractor2</key>
				<string><![CDATA[accusative - object of verb]]></string>
				<key>Feedback</key>
				<string><![CDATA[preposition e takes the ablative case]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>7</integer>
				<key>Prompt</key>
				<string><![CDATA[Achilles saevus circum muros oppidi Hectorem traxit (dragged)]]></string>
				<key>Question</key>
				<string><![CDATA[What gender is the noun oppidi?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[neuter]]></string>
				<key>Distractor1</key>
				<string><![CDATA[masculine]]></string>
				<key>Distractor2</key>
				<string><![CDATA[feminine]]></string>
				<key>Feedback</key>
				<string><![CDATA[root word is oppid-um, neuter ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>8</integer>
				<key>Prompt</key>
				<string><![CDATA[The Trojans love me.]]></string>
				<key>Question</key>
				<string><![CDATA[Translate me in this sentence.]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[me]]></string>
				<key>Distractor1</key>
				<string><![CDATA[ego]]></string>
				<key>Distractor2</key>
				<string><![CDATA[te]]></string>
				<key>Feedback</key>
				<string><![CDATA[me = accusative sing of ego ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Anger of Achilles: Part Five]]></string>
				<key>QnNum</key>
				<integer>9</integer>
				<key>Prompt</key>
				<string><![CDATA[The farmer has a sword.]]></string>
				<key>Question</key>
				<string><![CDATA[What is the correct Latin translation of this sentence?]]></string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string><![CDATA[agricola habet gladium]]></string>
				<key>Distractor1</key>
				<string><![CDATA[agricola habeo gladium]]></string>
				<key>Distractor2</key>
				<string><![CDATA[agricola habeat gladium]]></string>
				<key>Feedback</key>
				<string><![CDATA[agricola (nom sing)
hab-et (he has)
gladi-um (acc sing)]]></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>0</integer>
				<key>Prompt</key>
				<string><![CDATA[sic Troiani Graecos in bello superabant ]]></string>
				<key>Question</key>
				<string><![CDATA[What is the Latin subject of superabant?]]></string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string><![CDATA[Troiani]]></string>
				<key>Distractor1</key>
				<string><![CDATA[Trojans]]></string>
				<key>Distractor2</key>
				<string><![CDATA[Graecos]]></string>
				<key>Feedback</key>
				<string><![CDATA[Troian-i nominative plural ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>1</integer>
				<key>Prompt</key>
				<string><![CDATA[Graeci, quod erant miseri, e Troia navigare cupiebant]]></string>
				<key>Question</key>
				<string><![CDATA[What is the conjunction in this sentence?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[quod]]></string>
				<key>Distractor1</key>
				<string><![CDATA[e ]]></string>
				<key>Distractor2</key>
				<string><![CDATA[navigare]]></string>
				<key>Feedback</key>
				<string><![CDATA[quod = because = conjunction ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>2</integer>
				<key>Prompt</key>
				<string><![CDATA[Ulixes tamen consilium (plan) habuit]]></string>
				<key>Question</key>
				<string><![CDATA[Put habuit in the present tense, keeping person and number]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[habet]]></string>
				<key>Distractor1</key>
				<string><![CDATA[habebat]]></string>
				<key>Distractor2</key>
				<string><![CDATA[habeo]]></string>
				<key>Feedback</key>
				<string><![CDATA[hab-et, 3rd person singular, 2nd conjugation ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>3</integer>
				<key>Prompt</key>
				<string><![CDATA[equum ligneum (wooden) Ulixes aedificare constituit]]></string>
				<key>Question</key>
				<string><![CDATA[What is the Latin object of aedificare?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[equum]]></string>
				<key>Distractor1</key>
				<string><![CDATA[horse]]></string>
				<key>Distractor2</key>
				<string><![CDATA[Ulixes]]></string>
				<key>Feedback</key>
				<string><![CDATA[equ-um acc sing and object of aedificare ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>4</integer>
				<key>Prompt</key>
				<string><![CDATA[Graeci equum in ora prope Troiam posuerunt]]></string>
				<key>Question</key>
				<string><![CDATA[What is the first person singular present tense of posuerunt?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[pono]]></string>
				<key>Distractor1</key>
				<string><![CDATA[porto]]></string>
				<key>Distractor2</key>
				<string><![CDATA[posui]]></string>
				<key>Feedback</key>
				<string><![CDATA[pono - ponere - posui ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>5</integer>
				<key>Prompt</key>
				<string><![CDATA[Graeci discesserunt et ad insulam vicinam (nearby) navigaverunt]]></string>
				<key>Question</key>
				<string><![CDATA[What case is insulam and why?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[accusative - after preposition ad]]></string>
				<key>Distractor1</key>
				<string><![CDATA[accusative - object]]></string>
				<key>Distractor2</key>
				<string><![CDATA[nominative - subject]]></string>
				<key>Feedback</key>
				<string><![CDATA[ad forces insul-am into the accusative ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>6</integer>
				<key>Prompt</key>
				<string><![CDATA[Troiani e muris spectabant]]></string>
				<key>Question</key>
				<string><![CDATA[Put spectabant into the present tense, keeping person and number]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[spectant]]></string>
				<key>Distractor1</key>
				<string><![CDATA[spectat]]></string>
				<key>Distractor2</key>
				<string><![CDATA[specto]]></string>
				<key>Feedback</key>
				<string><![CDATA[specta-nt, present tense, 3rd person plural ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>7</integer>
				<key>Prompt</key>
				<string><![CDATA[perterriti dicbebant: 'Graeci donum nobis (us) dederunt']]></string>
				<key>Question</key>
				<string><![CDATA[What is the Latin object of dederunt?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[donum]]></string>
				<key>Distractor1</key>
				<string><![CDATA[gift]]></string>
				<key>Distractor2</key>
				<string><![CDATA[Graeci]]></string>
				<key>Feedback</key>
				<string><![CDATA[they gave a donum (Latin object)]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>8</integer>
				<key>Prompt</key>
				<string><![CDATA[We don't like the Greeks' gifts ]]></string>
				<key>Question</key>
				<string><![CDATA[Translate gifts in this sentence]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[dona]]></string>
				<key>Distractor1</key>
				<string><![CDATA[donum]]></string>
				<key>Distractor2</key>
				<string><![CDATA[donorum]]></string>
				<key>Feedback</key>
				<string><![CDATA[don-a accusative plural of don-um]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part One]]></string>
				<key>QnNum</key>
				<integer>9</integer>
				<key>Prompt</key>
				<string><![CDATA[Do you (s) like horses?]]></string>
				<key>Question</key>
				<string><![CDATA[What is the correct Latin translation of this sentence?]]></string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string><![CDATA[amasne equos?]]></string>
				<key>Distractor1</key>
				<string><![CDATA[amasne equum?]]></string>
				<key>Distractor2</key>
				<string><![CDATA[amatisne equi? ]]></string>
				<key>Feedback</key>
				<string><![CDATA[am-as (you sg)
ne (for a question)
equ-os (acc plu)]]></string>
			</dict>
		</array>
		<array>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>0</integer>
				<key>Prompt</key>
				<string><![CDATA[Troiani, ubi in ora equum viderunt, perterriti steterunt]]></string>
				<key>Question</key>
				<string><![CDATA[What is the first person singular present tense of steterunt?]]></string>
				<key>Marks</key>
				<integer>1</integer>
				<key>CorrectAns</key>
				<string><![CDATA[sto]]></string>
				<key>Distractor1</key>
				<string><![CDATA[stare]]></string>
				<key>Distractor2</key>
				<string><![CDATA[statim]]></string>
				<key>Feedback</key>
				<string><![CDATA[sto - stare - steti (perfect)]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>1</integer>
				<key>Prompt</key>
				<string><![CDATA[unus vir, Laocoon, dixit: 'Graecos timeo quamquam (although) donum dederunt']]></string>
				<key>Question</key>
				<string><![CDATA[What tense is the verb dederunt?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[perfect]]></string>
				<key>Distractor1</key>
				<string><![CDATA[present]]></string>
				<key>Distractor2</key>
				<string><![CDATA[imperfect]]></string>
				<key>Feedback</key>
				<string><![CDATA[ded-erunt, 3rd person plural, perfect tense ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>2</integer>
				<key>Prompt</key>
				<string><![CDATA[sed Troiani responderunt: 'equus est deae donum']]></string>
				<key>Question</key>
				<string><![CDATA[What gender is the word equus?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[masculine]]></string>
				<key>Distractor1</key>
				<string><![CDATA[neuter]]></string>
				<key>Distractor2</key>
				<string><![CDATA[feminine]]></string>
				<key>Feedback</key>
				<string><![CDATA[equ-us 2nd declension masculine ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>3</integer>
				<key>Prompt</key>
				<string><![CDATA['equum in Troiam ducite! Graecos superavimus'.]]></string>
				<key>Question</key>
				<string><![CDATA[What part of the verb duco is ducite?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[imperative (plural) ]]></string>
				<key>Distractor1</key>
				<string><![CDATA[imperative (singular)]]></string>
				<key>Distractor2</key>
				<string><![CDATA[infinitive]]></string>
				<key>Feedback</key>
				<string><![CDATA[imperative used when giving an order ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>4</integer>
				<key>Prompt</key>
				<string><![CDATA[sed in equo erant multi Graeci viri ]]></string>
				<key>Question</key>
				<string><![CDATA[What type of word is multi?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[adjective]]></string>
				<key>Distractor1</key>
				<string><![CDATA[noun]]></string>
				<key>Distractor2</key>
				<string><![CDATA[adverb]]></string>
				<key>Feedback</key>
				<string><![CDATA[agrees with noun viri ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>5</integer>
				<key>Prompt</key>
				<string><![CDATA[Troiani multum vinum biberunt (drank) et multum cibum consumpserunt]]></string>
				<key>Question</key>
				<string><![CDATA[What is the Latin subject of consumpserunt?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[Troiani]]></string>
				<key>Distractor1</key>
				<string><![CDATA[Trojans]]></string>
				<key>Distractor2</key>
				<string><![CDATA[vinum]]></string>
				<key>Feedback</key>
				<string><![CDATA[The Trojans (in Latin, Troian-i) did the eating]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>6</integer>
				<key>Prompt</key>
				<string><![CDATA[dum (while) Troiani dormiebant, Graeci ex equo venerunt]]></string>
				<key>Question</key>
				<string><![CDATA[What case is equo and why?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[ablative - after preposition]]></string>
				<key>Distractor1</key>
				<string><![CDATA[dative - for]]></string>
				<key>Distractor2</key>
				<string><![CDATA[accusative - object of verb]]></string>
				<key>Feedback</key>
				<string><![CDATA[ex forces equ-o into the ablative case]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>7</integer>
				<key>Prompt</key>
				<string><![CDATA[Graeci per vias cucurrerunt et multos Troianos necaverunt]]></string>
				<key>Question</key>
				<string><![CDATA[What type of word is per?]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[preposition]]></string>
				<key>Distractor1</key>
				<string><![CDATA[adverb]]></string>
				<key>Distractor2</key>
				<string><![CDATA[conjunction]]></string>
				<key>Feedback</key>
				<string><![CDATA[per = through/along = preposition]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>8</integer>
				<key>Prompt</key>
				<string><![CDATA[We love horses.]]></string>
				<key>Question</key>
				<string><![CDATA[Translate horses in this sentence.]]></string>
				<key>Marks</key>
				<integer>2</integer>
				<key>CorrectAns</key>
				<string><![CDATA[equos]]></string>
				<key>Distractor1</key>
				<string><![CDATA[equus]]></string>
				<key>Distractor2</key>
				<string><![CDATA[equum]]></string>
				<key>Feedback</key>
				<string><![CDATA[horses, object of verb = equ-os, acc plu ]]></string>
			</dict>
			<dict>
				<key>QnCat</key>
				<string><![CDATA[The Wooden Horse: Part Two]]></string>
				<key>QnNum</key>
				<integer>9</integer>
				<key>Prompt</key>
				<string><![CDATA[I terrify the slave girls]]></string>
				<key>Question</key>
				<string><![CDATA[What is the correct Latin translation of this sentence?]]></string>
				<key>Marks</key>
				<integer>3</integer>
				<key>CorrectAns</key>
				<string><![CDATA[ancillas terreo]]></string>
				<key>Distractor1</key>
				<string><![CDATA[ancillam terreo ]]></string>
				<key>Distractor2</key>
				<string><![CDATA[ancillas timeo ]]></string>
				<key>Feedback</key>
				<string><![CDATA[ancill-as (acc plu, object)
terre-o (I frighten)]]></string>
			</dict>
		</array>
	</array>
</dict>
</plist>
