<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MenuItems</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>0</integer>
			<key>Name</key>
			<string>Grammar Smarts</string>
			<key>Directory</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<integer>1</integer>
			<key>Name</key>
			<string>Practice</string>
			<key>Directory</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<integer>2</integer>
			<key>Name</key>
			<string>Test</string>
			<key>Directory</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
