<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>MenuItems</key>
        <array>
            <dict>
                <key>ID</key>
                <integer>0</integer>
                <key>Name</key>
                <string>Perseus &amp; Medusa</string>
                <key>ImgName</key>
                <string>vocab</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>1</integer>
                <key>Name</key>
                <string>The Abduction of Helen</string>
                <key>ImgName</key>
                <string>mylb</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>2</integer>
                <key>Name</key>
                <string>The Greeks Sail to Troy to Win Back Helen</string>
                <key>ImgName</key>
                <string>allin</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>3</integer>
                <key>Name</key>
                <string>The Greeks are Losing</string>
                <key>ImgName</key>
                <string>nounss</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>4</integer>
                <key>Name</key>
                <string>The Anger of Achilles: Part One</string>
                <key>ImgName</key>
                <string>verbs</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>5</integer>
                <key>Name</key>
                <string>The Anger of Achilles: Part Two</string>
                <key>ImgName</key>
                <string>settings</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>6</integer>
                <key>Name</key>
                <string>The Anger of Achilles: Part Three</string>
                <key>ImgName</key>
                <string>pa</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>7</integer>
                <key>Name</key>
                <string>The Anger of Achilles: Part Four</string>
                <key>ImgName</key>
                <string>Supplementary Verbs</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>8</integer>
                <key>Name</key>
                <string>The Anger of Achilles: Part Five</string>
                <key>ImgName</key>
                <string>verbs</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>9</integer>
                <key>Name</key>
                <string>The Wooden Horse: Part One</string>
                <key>ImgName</key>
                <string>vocab</string>
            </dict>
            <dict>
                <key>ID</key>
                <integer>10</integer>
                <key>Name</key>
                <string>The Wooden Horse: Part Two</string>
                <key>ImgName</key>
                <string>allin</string>
            </dict>
        </array>
    </dict>
</plist>
